extends layout

block hero
	h1= title
	p This is the original challenge
block content
	div.row
		div.span12
			h2 Sub Header 1
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper volutpat urna ac accumsan. Phasellus ac nisl erat. Quisque congue sed massa nec feugiat. Sed semper a elit vel pulvinar. Sed eu lorem dapibus, vestibulum tellus eget, pharetra tellus. Cras sed turpis a metus bibendum tristique. Sed eget arcu eget neque lacinia auctor a rutrum velit. Aliquam sed ultricies est. Praesent condimentum metus eget diam laoreet, at vulputate tellus posuere. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac condimentum ligula.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper volutpat urna ac accumsan. Phasellus ac nisl erat. Quisque congue sed massa nec feugiat. Sed semper a elit vel pulvinar. Sed eu lorem dapibus, vestibulum tellus eget, pharetra tellus. Cras sed turpis a metus bibendum tristique. Sed eget arcu eget neque lacinia auctor a rutrum velit. Aliquam sed ultricies est. Praesent condimentum metus eget diam laoreet, at vulputate tellus posuere. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac condimentum ligula.
	div.row
		div.span6
			h2 Sub Header 2
			ul
				li Fruits
					ul
						li Apple
							ul
								li Granny Smith
								li Gala
						li Banana
						li Tomato
				li Vegetables
					ul
						li Broccoli
						li Potatoes
							ul
								li Russet Potatoes
								li Baby Reds
				li Meats
					ul
						li Chicken
						li Beef
						li SPAM
		div.span6
			h2 Sub Header 3
			form.well.form-horizontal
				div.control-group
					label.control-label First Name: 
					div.controls
						input(type='text', name='FirstName')
				div.control-group
					label.control-label Last Name: 
					div.controls
						input(type='text', name='LastName')
				div.control-group
					label.control-label Date of Birth: 
					div.controls
						input(type='text', name='DOB')
				div.control-group
					label.control-label Gender: 
					div.controls
						label.radio.inline
							input(type='radio', name='gender', value='Male') 
							text Male
						label.radio.inline
							input(type='radio', name='gender', value='Female') 
							text Female
				div.control-group
					label.control-label Fav Color: 
					div.controls
						select(name='FavColor')
							option(value='Placeholder') - Pick One -
							option(value='Red') Red
							option(value='Orange') Orange
							option(value='Yellow') Yellow
							option(value='Green') Green
							option(value='Blue') Blue
							option(value='Purple') Purple
				div.control-group
					div.controls
						button(type='submit', class='btn') Submit
							
						
						
						
						
						
						
						