doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		script(src='/js/jQuery.js')
		script(src='/js/bootstrap.min.js')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		div.container
			div.hero-unit
				block hero
			div.navbar
				div.navbar-inner
					a(class='brand', href='/') Home
					ul.nav
						li 
							a(href='/page1') Page 1
						li 
							a(href='/page2') Page 2
						li 
							a(href='/page3') Page 3
						li 
							a(href='/page4') Page 4
						li 
							a(href='/page5') Page 5
			div.content
				block content
			script
				block scripts